<div class="bg-form">
  <div class="row">
    <div class="callout-form">
      <div class="show-heading-2">Edit <%= resource_name.to_s.humanize %></div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %>
  <% end %>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>



<div class="show-heading-3">Unhappy?</div>
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</div>
<%= link_to "Back", :back %>
</div>

<div class="footer">
  <img class="fork-knife-img" src="<%= asset_path('fork-knife.png') %>" width="60" />
</div>

</div>
